svg{position:absolute;}

.title {
    height: 200px;
    padding:10px 60px;
    font-size:200px;
    filter:url(#goo);
    text-align: center;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img.jpg');
    background-size: cover;
    filter: blur(12px);
    z-index: -1;
}

.buttons {
    text-align: center;
}

.button {
    font-size: 50px;
    color: white;
    font-family: 'Arial', sans-serif;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
}

#oneDevice {
    background-color: rgba(0, 0, 255, 0.5);
}

#createRoom {
    background-color: rgba(0, 128, 0, 0.5);
}

#joinRoom {
    background-color: rgba(255, 0, 0, 0.5);
}

/*.multicolor-text {
    text-align: center;
    font-size: 200px;
    background: linear-gradient(to left,
            blue,
            yellow,
            green,
            red);
    -webkit-background-clip: text;
    color: transparent;
}*/