<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateRoom</title>
    <link rel="stylesheet" href="../static/create-room.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"></script>
    <script src="../static/create-room.js" defer></script>
    <script src="../static/return.js" defer></script>
</head>
<body>
<div class = "background"></div>
<div class="header">
    <div class="arrow" id="return">
        <div></div>
    </div>
    <svg width="0" height="0">
        <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="7"  />
            <feColorMatrix  mode="matrix" values="1 0 0 0  0
                                                  0 1 0 0  0
                                                  0 0 1 0  0
                                                  0 0 0 35 -7"  />
            <feBlend in="SourceGraphic"  />
        </filter>
        </defs>
    </svg>
    <div class = "title">
        <span class = "blue">C</span><!--
        --><span class = "green">L</span><!--
        --><span class = "yellow">O</span><!--
        --><span class = "red">N</span><!--
        --><span class = "green">I</span><!--
        --><span class = "yellow">U</span><!--
        --><span class = "blue">M</span>
    </div>
</div>
<div class="titleOfSettings">
        <div class="titleNumOfPlayers">
            Число игроков
        </div>
        <div class="titleFormOfField">
            Форма поля
        </div>
</div>
<div class="settings">
    <canvas id="c1" width="800" height="400"></canvas>
</div>
</body>
</html>