<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayingField</title>
    <link rel="stylesheet" href="../static/playing-field.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"></script>
    <script src="../static/playing-field.js" defer></script>
    <script src="../static/return.js" defer></script>
</head>
<body>
<div class = "background"></div>
<div class="header">
    <div class="arrow" id="return">
        <div></div>
    </div>
    <div class="title">
        Код комнаты:
    </div>
</div>
<div class="field">
    <canvas id="canvas" width="800" height="600"></canvas>
</div>
</body>
</html>